<div class='bg-img' style='background-image: url("https://source.unsplash.com/ViI6qkoRfNA")'>
  <div class='container'>
    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: Movie.all.order(:title), label_html: { class: 'input' }%>
    <%= f.input :comment , label_html: { class: 'input' }%>
    <%= f.submit '+ Add movie', class:'button submit' %>
    <% end %>
  </div>
</div>







<%# <h1>Pick a movie:</h1> %>

<%# <ul> %>
  <%# Movie.all.each do |movie| %>
    <%# <li> %>
      <%#= link_to movie.title, list_bookmarks_path(@list) %>
    <%# </li> %>
  <%# end %>
<%# </ul> %>
